:root {
    --bg-dark:#322;
    --bg-light:#ff7;
    --accent-light: #00c458
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: var(--bg-light);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.text-center {
    text-align: center;
    font-size: 2.5rem;
}

.container {
    display: block;
    width: 100%;
    padding:10%;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button {
    padding: 5px;
    border: 3px solid var(--accent-light);
    border-radius: 10px;
    background-color: var(--bg-dark);
}

#info {
    color: var(--bg-dark);
    background-color: var(--bg-light);
}

#clock {
    border: 3px solid var(--accent-light);
    border-radius: 30px;
    background-color: var(--bg-light);
    color: var(--accent-light);
    margin: 10px;
    max-height: 450px;
    max-width: 450px;
    height: 50vw;
    width: 50vw;
}
