:root {
    --bg-dark:hsl(60, 4%, 10%);
    --bg-light:#ff7;
    --accent-light: #00c458
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: var(--bg-light);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.c {
   width: 100%;
}
.top {
    position: relative;
    background-image:url("penguinuhh-vEK0mCz4Ow0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 70px;

    height: 100vh;
}
.top * {
    z-index: 10;
    text-shadow: 0 0 0.7rem #2f2f2f;
}
.bottom {
    height: 10vh;
    transition: all 200ms ease;
}
.bottom span {
    position: absolute;
    border-radius: 50%;
    bottom: -50px;
    z-index: 2;
    opacity: 0;
    animation: bubbleA 5s ease;
    opacity: 0.7;
}
@keyframes bubbleA {
    from {
        transform: translateY(0%) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 0.5;
    }
    85% {
        
        opacity: 0.6;
    }
    to {
        transform: translateY(-110vh) rotate(360deg);
        opacity: 0;
    }
}